/*nav*/
/*header: faire 3 colonnes en grid. Le nav en flex*/
/*---------------------------header-----------------------------*/
header{
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* grille en 3 colonnes (logo+espace vide au milieu+menu à droite)*/
.grid-header{
    display: grid;
    grid-template-columns: 14% 46% 35%;
    background-color: #000000;
    padding: 0% 2% 0% 2%;
}

.navigation{
    grid-column-start: 3;
}


/*menu de nav à droite*/
.flex-menu{
    display: flex;
    flex-direction: row;
}

.logo-header, .element-menu{
    color: #FFFFFF;
    text-decoration: none;
}

.logo-header{
    height: 21%;
    margin: 42px 0 42px 0;
}

.element-menu{
    height: 11%;
    margin: 42px 3% 42px 3%;
} 

.bouton-services{
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    height: 11%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

/*dropdown menu*/
/* Couleur non exacte */
.contenu-dropdown{
    display: none; 
    position: absolute; 
    min-width: 160px;
    background-color: #413F3E;
}

.contenu-dropdown > li{
    display: block;

}

.dropdown:hover .contenu-dropdown{
    display: block;
}

/* .dropdown: focus{
    background-color: #FFFFFF;
} */

.contenu-dropdown > li{
    padding: 19px 80px 12px 11px;
}

.contenu-dropdown > li > a{
    color: #AEACAC;
    text-decoration: none;
}


.dropdown a:hover{
    color: #E2E2E2;

}

.ligne-separatrice{
    height: 1px;
    width: 96%;
    margin: 0 2% 0 2%; 
    background-color:#FFFFFF;
}

/* -----------------------------fin header------------------------------ */

/*-----------------------------Notes personnelles------------------------ */
/* grid: ajouter propriété border */

/*body {height: 100 vh} (pour une page écran ajustée*/

/* ---------------------------Fin notes personnelles---------------------- */