/* Style general*/
body {  
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: normal;
padding: 0 16px;

color: white;

background-color: #242322;
display: block;

}
    /* Neumorphism est le terme qui designe le style qui est appliqué aux cartes, boutons et éléments du formulaire  */
    .neumorphism {
        border-radius: 10px;
        background: #242322;
        box-shadow:  7px 7px 12px #1b1a1a,
                 -7px -7px 12px #292827;     
        transition: background 100ms ease;
        transition: box-shadow 100ms ease;  
    }

     .neumorphism:hover {
         background: linear-gradient(145deg, #232222, #2a2929);
         box-shadow:  5px 5px 10px #212020,
                      -5px -5px 10px #292827;
     }
     .neumorphism:active {
         background: #272626;
         box-shadow: inset 5px 5px 9px #212020,
                 inset -5px -5px 5px #2e2d2d;
     }


/* Pour la presentation de la feuille de style (ne pas ajouter comme classe) */

    .margin{
        margin: 48px 0;


    }

    .stack {
        display: block;
    }

/* Classes Utilitaires */

    .wrapper {
        max-width: 1920px;
        margin: 0 auto;

    }
    /* centre le texte pour les pages d'articles et le contenu du formulaire */
    .wrapper_center {
        max-width: 680px;
        margin: 0 auto;
    }

    .space_after {
        margin-bottom: 32px;
    }

/* Styles de textes     */

    h1 {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 94px;
        text-transform: uppercase;
        font-weight: 400;
    }
    h2 {
        font-size: 58px;
        text-transform: uppercase;
        text-decoration: underline;

    }
    h3 {
        font-size: 24px;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 16px;

    }

    h4 {
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: underline;

    }


    a { 
        font-size: 13px;
        color: white;
        text-transform: uppercase;
        transition: letter-spacing 0.1s ease;
        margin-top: 18px;

    }
         a:hover{
            letter-spacing: 0.5px;
        }

    p{
        font-family: neue-haas-grotesk-display, sans-serif;

        font-weight: 400;
        font-size: 15px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

        .p_large {
            font-size: 24px;
        }

    label   {
        font-size: 20px;
        color: #AEACAC;
        margin-top: 16px;
    }  


    /* .logotext {
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 400;

    } */



/*   Elements      */

        /* Bouton */
        .btn {
            padding: 24px 32px;
            margin: 0 auto;
            font-size: 16px;
            letter-spacing: 2px;
            color: white;
            text-transform: uppercase;
            border: none;
            outline: none;
            text-align: center;
            clear: both;
            

        
        }
            .btn > p {
            transition: transform .05s ease-out;
            margin: 10px 10x;
            }
            .btn > p:hover {
            transform: translate(0, 1px);
            }

            /* Highlight Vert */
            .vert{
            background: linear-gradient(99.74deg, #57977B 27.51%, #347E5F 57.33%);            
            }

            .vert:hover {
                background: #347E5F;
                box-shadow:  5px 5px 10px #212020,
                             -5px -5px 10px #292827;
            }
            .vert:active {
                background: #347E5F;
                box-shadow: inset 5px 5px 9px #4a7e67,
                        inset -5px -5px 5px #347E5F;
            }


        /* CARTE */

            article {
                display: block;
                height: 30rem;
            
            
            }

            .img__carte {
                display: block;
                width: 100%;
                height: 18rem;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }

            .content {
                padding: 24px 24px 32px 18px;
            
            }

            .article__summary {
                max-height: 70px;
                overflow: scroll;
                margin-bottom: 1rem;
            }

            article > .content > p {
                margin-bottom: 16px;
            }

        /* Form input  */
        
        input{
            border: 1px solid #AEACAC;
            padding: 24px 32px;
            width: 100%;
            margin: 16px 0;
            z-index: -1;
            background: linear-gradient(99.74deg, #20201F 27.51%, #272524 57.33%);   
            font-size: 16px;
            color: #ffffff;        

        }

        input:active{
            border: 1px solid #d6d6d6;

        }

        
/* CSS GRID - pas fini */

.three_col_grid {
    margin: 32px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
        
}


/* Sections Call-to-action (hero) */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}

.bg-img {
    background-image: url("./images/Salvation.png");
    height: 90vh;

}