/* On utilise plusieurs types d'unité de mesure dans le doc, mais on a vérifier et tout semble bien fonctionner
Dans un context réél, on aurait tout réécrit la feuille Css en harmonisant les unitées de mesure */

body {  
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #242322;
    display: block;
    padding-bottom: 42px;
    overflow-x: hidden;
    }

main{
    padding-left: 2%;
    padding-right: 2%;
}

.spaceafter {
    margin-bottom: 42px;
}

.wrapper_center {
    max-width: 680px;
    margin: 0 auto;
}


/* Neumorphism est le terme qui designe le style qui est appliqué aux cartes, boutons et éléments du formulaire  */
.neumorphism {
     border-radius: 10px;
     background: #242322;
     box-shadow:  7px 7px 12px #1b1a1a,
              -7px -7px 12px #292827;     
     transition: background 100ms ease;
     transition: box-shadow 100ms ease;  
 }

.neumorphism:hover {
     background: linear-gradient(145deg, #232222, #2a2929);
     box-shadow:  5px 5px 10px #212020,
                  -5px -5px 10px #292827;
 }
 .neumorphism:active {
     background: #272626;
     box-shadow: inset 5px 5px 9px #212020,
                 inset -5px -5px 5px #2e2d2d;
 }
/* Styles de textes*/

h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 5.5rem;
    line-height: 5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 64px;
}

h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 3rem;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 16px;

}

h4 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 24px;
    font-weight: 700;

}


a { 
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    transition: underline 0.1s ease;
    

}
     a:hover{
         text-decoration: underline;  
    }

.text_link{
    transition: letter-spacing 0.1s ease;
}

.text_link:hover {
    letter-spacing: 0.5px;
}

p{
    font-family: neue-haas-grotesk-display, sans-serif;

    font-weight: 300;
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
}

    .p_large {
        font-size: 20px;
        max-width: 400px;
        line-height: 32px;

    }

label   {
    font-size: 20px;
    color: #AEACAC;
    margin-top: 16px;
}  

 /* Bouton vert*/
.wrapper-bouton{
    padding: 200px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



      .btn {
            padding: 24px 32px;
            font-size: 16px;
            letter-spacing: 2px;
            color: white;
            text-transform: uppercase;
            border: none;
            outline: none;
            }

            .btn > p {
            transition: transform .05s ease-out;
            margin: 10px 10px;
            }

            .btn > p:hover {
            transform: translate(0, 1px);
            }

            /* Highlight Vert */
            .vert{
            background: linear-gradient(99.74deg, #57977B 27.51%, #347E5F 57.33%);
            }

            .vert:hover {
                background: #347E5F;
                box-shadow:  5px 5px 10px #212020,
                             -5px -5px 10px #292827;
            }
            .vert:active {
                background: #2c6d52;
                box-shadow: inset 5px 5px 9px #4a7e67,
                        inset -5px -5px 5px #347E5F;
            }



/* ___________________Hero____________________ */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 43rem;
    background-image: url("../images/Salvation.png");
    background-position: bottom 0px right 0px;
    background-size: 52vw;
    background-repeat: no-repeat;
    margin-bottom: 86px;
    border-bottom: 1px white;
    border-style: solid;


}

.hero > .btn {
    max-width: 400px;

}

.carriere {

    background-image: url("../images/accompagnement.png");
    background-position: bottom 0px right 0px;
    background-size: 52vw;
}

.fondateur {
    border-style: none;
    margin-bottom: 0px;
    background-image: url("../images/bienpenseur.png");
    background-position: bottom 0px right 0px;
    background-size: 52vw;

}

/*---------------------------------------------header---------------------------------------------------------*/
header{
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.flex-header{
    display: flex;
    flex-direction: row;
}

.navigation{
    flex: 2;
}

/*menu de nav à droite*/
.flex-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo-header, a{
    color: #FFFFFF;
    text-decoration: none;
}

.logo-header{
    margin: 42px 0 42px 2%;
    -webkit-text-fill-color: #ffffff;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
}

.element-menu{
    margin: 50px 3% 42px 3%;
    font-size: 0.81rem;
} 

.bouton-services, .arrow-down{
    display: inline-block;
}

.arrow-down{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    margin-left: 10px;
  }

.bouton-services{
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    max-height: 11%;
}

.dropdown{
    position: relative;
    display: inline-block;
    z-index: 1;
}

/*dropdown menu*/
.contenu-dropdown{
    display: none; 
    position: absolute; 
    background: radial-gradient(96.46% 96.46% at 59.92% 100%, #413F3E 0%, #242322 100%);
    border-radius: 0 0 10px 10px;
    width: 300px;
    
}

.contenu-dropdown > li{
    display: block;
    width: 100%;
}

.dropdown:hover .contenu-dropdown{
    display: block;
}

.dropdown:focus {
    background-color: #FFFFFF;
}

.contenu-dropdown > li{
    padding: 19px 80px 12px 11px;
}

.contenu-dropdown > li > a{
    color: #AEACAC;
    text-decoration: none;
}

.dropdown a:hover{
    color: #E2E2E2;

}
.ligne-noir{
    background-color: #242322;
    height: 1px;
    margin: 16px 16px 0 0;

}

.ligne-separatrice{
    height: 1px;
    width: 100%;
    background-color:#FFFFFF;
    
}


/*grille page accueil*/
.three_col_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 15px;
}

 /* CARTE */

 .img__carte{
    height: 48%;
}

 article {
    display: block;
    height: 31rem;
}

.img__carte {
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.content {
    padding: 24px 24px 32px 18px;

}

.article__summary {
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 1rem;
}

article > .content > p {
    margin-bottom: 32px;
}

/*Début footer*/
footer{
    background-color: #242322;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.wrapper-footer{
   margin: 46px auto;
   text-align: center;

}

.agence{
    height: 17%;
    margin-bottom: 12px;
}

p{
    color:#FFFFFF;
    /* text-align: center; */
}

.adress{
    height: 21%;
}


.banner-image {
    width: 100%;
    max-height: 50vh;
    overflow: hidden;
    clear: both;
    position: relative;


}
.banner-image__cover {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    position: relative;

    
}
/*.logo{
    height: 4%;
    margin: 42px 0 42px 0;
}*/

/* -----------------------------fin footer------------------------------ */

/*-----------------------------Notes personnelles------------------------ */

/*height: 100 vh (pour une page écran ajustée*/

/* ---------------------------Fin notes personnelles---------------------- */



/* -----------------------------Form----------------------------- */


/* Form input  */

form {
    display: block;
}

input {
    border: 1px solid #AEACAC;
    padding: 24px 32px;
    width: 100%;
    margin: 16px 0;
    z-index: -1;
    background: linear-gradient(99.74deg, #20201F 27.51%, #272524 57.33%);   
    font-size: 16px;
    color: #ffffff;        
    box-sizing: border-box;
}

input:active {
    border: 1px solid #d6d6d6;
}

.wrapper-select{
    width: 50%;
}

#selectservice {
    border: 1px solid #AEACAC;
    padding: 24px 32px;
    width: 100%;
    margin: 16px 0;
    z-index: -1;
    background: linear-gradient(99.74deg, #20201F 27.51%, #272524 57.33%);   
    font-size: 16px;
    color: #ffffff;   
    clear: both;
}

#selectservice > option{
    background-color: #302E2D;
}

select{
        -webkit-appearance: none;
        appearance: none;
}


textarea {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 24px 32px;
    margin-top: 16px;
    color: white;
    resize: none;
}

#submitform {
    width: 360px;
    margin-bottom: 200px;
}


/* -----------------------------Media Queries----------------------------- */

/* // Large devices (Desktop 1100px) */
@media (max-width: 1100px) { 

    .three_col_grid {

        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;

    


}






/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    .hero {
        background-size: 70vw;
        background-position: bottom 0px right -200px;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 4rem;

    }


}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .hero {
        background-image: url("../images/Salvation-mobile.png");
        background-size: 40vw;
        background-position: bottom 0 right 0;
    
    }

    .carriere {
        background-image: url("../images/accompagnement.png");
        background-size: 52vw;

    }
    .fondateur {
        background-image: url("../images/bienpenseur.png");
        background-size: 52vw;
    }

    h1 {
        font-size: 4rem;
        line-height: 3.5rem;

    }

    .hero > h1 {

        max-width: 400px;

    }

    .three_col_grid {

        grid-template-columns: repeat(1, 1fr);
    }
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    h1 {
        font-size: 4rem;
        line-height: 3.5rem;

    }

    .hero {

        background-size: 0 0;

    }

}



    


}